POSTGRES_USER=postgres
# CHANGE THE PASSWORD TO YOUR OWN
POSTGRES_PASSWORD=change-me
POSTGRES_DB=artauctiondb

POSTGRES_PUBLISH_PORT=5432

API_PUBLISH_PORT=5161

ASPNETCORE_ENVIRONMENT=Development

JWT_KEY=ArtAuction-Development-Secret-Key-Change-Me-123456
JWT_ISSUER=ArtAuction
JWT_AUDIENCE=ArtAuctionClients
JWT_EXPIRES_MINUTES=120
